
body{
    background: url(background.jpg);
    font-family: sans-serif;
    color: rgb(4, 108, 255)
}
img{
    display: block;
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}
span{
    color: red;
    font-weight: bold;
}
tr:nth-child(odd){
    background-color: aliceblue;
}
tr:nth-child(even){
    background-color: darkgray;
}
th, th{
    text-align: center;
    padding: 16px;
    width: 50%;
}
table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    background-color: yellow;
    color: green;
}